In [47]:
import pandas as pd
REORDER=True
df=pd.read_csv('https://raw.githubusercontent.com/ComputationalMethods/Evaluacion_2020-2/master/Calificaciones.csv')
df['T']=(((df.T1+df.T2+df.T3+df.T4+df.T5+df.T6)/6+df.TA)/2).round(1)
df['F']=(df.E1+df.E2+df.E3+df.TF+df['T'])/5
if REORDER:
    df=df.iloc[[8]].append(df.iloc[:8] ).append( df.iloc[9:] ).reset_index(drop=True)
df[['Cédula','E1','E2','E3','TF','T','F']].fillna(0)

        Cédula   E1   E2   E3   TF    T     F
0   1000902069  5.0  4.5  5.0  5.0  3.6  4.62
1   1007322018  3.5  5.0  5.0  5.0  4.6  4.62
2   1036645734  3.5  4.0  4.5  5.0  3.8  4.16
3   1001010600  5.0  5.0  5.0  5.0  4.5  4.90
4   1104431066  5.0  4.0  5.0  4.0  4.0  4.40
5   1017139434  3.5  4.5  2.5  5.0  4.9  4.08
6   1020462281  3.5  3.5  5.0  5.0  3.1  4.02
7   1000639128  5.0  5.0  5.0  5.0  4.8  4.96
8   1000293341  5.0  5.0  5.0  5.0  4.9  4.98
9   1037650815  5.0  4.5  5.0  5.0  3.0  4.50
10  1152225738  3.5  5.0  5.0  4.5  4.4  4.48